grant { 
permission WordCheckPermission "sex,drugs,C++", "avoid"; 
permission java.lang.RuntimePermission "accessClassInPackage.sun.jdbc.odbc"; 
permission java.util.PropertyPermission "java.awt.headless", "read"; 
};